@import "./reset.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "https://unpkg.com/leaflet/dist/leaflet.css";

:root {
  --font-gotham-pro: "GothamPro", sans-serif;
  --font-gotham-bold: "GothamProBold", sans-serif;
  --accent: #008763;
  --deep: #252525;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-gotham-pro), sans-serif;
  background-color: "#FFFFFF";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-gotham-bold);
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.75rem;
  font-weight: normal;
}

h4 {
  font-size: 1.5rem;
  font-weight: normal;
}

h5 {
  font-size: 1.25rem;
  font-weight: normal;
}

h6 {
  font-size: 1rem;
  font-weight: normal;
}

@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.inform-card {
  animation-name: leftToRight;

  animation-duration: 4s;
}

.image-darken {
  filter: brightness(0.5);
}

@keyframes pulse-scale {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.9;
  }
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}
