*,
*::before,
*::after {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
}

html,
body {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

p,
ul,
ol,
dl,
blockquote {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a,
button {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  background: none;
}

input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
