.btnWrapper::after {
  content: "";
  background: rgb(243, 243, 181);
  width: 60%;
  height: 10%;
  display: inline-block;
  border-radius: 50px;
  position: absolute;
  /* top: 0; */
  left: 20%;
  z-index: -1;
  opacity: 1;
}
.btnWrapper:hover::after {
  opacity: 0;
  transform: scaleX(1.5) scaleY(1.7);
  transition: all 0.5s;
}

.btnWrapper_animated {
  animation: btnToUp 0.5s ease-out 0.07s;
  animation-fill-mode: backwards;
}
@keyframes btnToUp {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
